.table-cell-min {
    width: 1px;
}

.v-align-middle td {
    vertical-align: middle;
}

.score-table tr:first-child {
    border-top: 2px solid var(--bs-primary);
}

.score-table .tr-border-bottom {
    border-bottom: 2px solid var(--bs-primary);
}

.score-table .score-bg-upper,
.score-table .score-bg-lower {
    top: -1px; /* deal with Bootstrap's cell border-bottom-width */
    left: 0;
    width: 100%;
    height: calc(100% + 2px); /* deal with Bootstrap's cell border-bottom-width */
    z-index: -1;
}

.score-table .score-pos,
.score-table .score-neg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #fff 0%, rgba(182, 135, 16, 0.5) 100%);
    opacity: 0;
    transition: all 0.5s;
}

.score-table .score-neg {
    background: linear-gradient(to left, #fff 0%, rgba(181, 40, 252, 0.5) 100%);
    left: auto;
}

.score-table .score-bg-lower {
    top: 1px; /* deal with Bootstrap's cell border-bottom-width */
}

.btn.score-btn {
    display: none;
}

.btn.score-btn:last-child,
.btn.score-btn:nth-last-child(2),
.btn.score-btn:nth-last-child(3),
.btn.score-btn:nth-last-child(4),
.btn.score-btn:nth-last-child(5) {
    display: inline-block;
}

.score-btn:hover {
    cursor: pointer;
}

.score-btn:hover span:last-child {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-badge-border-radius);
}

.random-score-btn svg {
    margin-top: -2px;
    margin-left: -3px;
}

.winner-alert {
    opacity: 0;
    animation: opacityInOutIn;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes opacityInOutIn {
    0% {
        opacity: 0;
    }
    33% {
        opacity: .65;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: .65;
    }
}
