.table-cell-min {
    width: 1px;
}

.v-align-middle td {
    vertical-align: middle;
}

.score-table tr:first-child {
    border-top: 2px solid var(--bs-primary);
}

.score-table .tr-border-bottom {
    border-bottom: 2px solid var(--bs-primary);
}

.score-table .score-bg-upper,
.score-table .score-bg-lower {
    top: -1px; /* deal with Bootstrap's cell border-bottom-width */
    left: 0;
    width: 0;
    height: calc(100% + 2px); /* deal with Bootstrap's cell border-bottom-width */
    z-index: -1;
    background: linear-gradient(to right, #fff 0%, rgba(182, 135, 16, 0.5) 100%);
    transition: width 0.5s;
}

.score-table .score-bg-lower {
    top: 1px; /* deal with Bootstrap's cell border-bottom-width */
}

.badge.score-badge {
    display: none;
}

.badge.score-badge:last-child,
.badge.score-badge:nth-last-child(2),
.badge.score-badge:nth-last-child(3),
.badge.score-badge:nth-last-child(4),
.badge.score-badge:nth-last-child(5) {
    display: inline-block;
}

.score-badge:hover {
    cursor: pointer;
}

.score-badge:hover span:last-child {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-badge-border-radius);
}

.score-badge span {
    font-weight: bold;
}

.winner-alert {
    opacity: 0;
    animation: opacityInOutIn;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes opacityInOutIn {
    0% {
        opacity: 0;
    }
    33% {
        opacity: .65;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: .65;
    }
}