$theme-colors: (
        "primary": #337ab7,
        "secondary": #5bc0de,
        "success": #5cb85c,
        "warning": #f0ad4e,
        "danger": #d9534f
);

@import '~bootstrap/scss/bootstrap.scss';

.display-7 {
  font-size: 1.5rem;
  font-weight: 300;
}

.cursor-default {
  cursor: default;
}
